@font-face {
    font-size: 'Poppins';
    src: url(fonts/Poppins-Regular.ttf);
}

body {
    background-color: rgb(30, 31, 31);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins';
    border: none;
    outline: none;
    letter-spacing: 2px;
}

.container{
    margin: 0 auto;
    max-width: 1080px;
    width: 95%;
}

/*navbar styling starts here*/
nav{
    height: 85px;
    background-color: rgb(74, 77, 74);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    place-items: center;

}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.namn{
    font-size: 20px;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;

}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 30%;
}

.nav-links li a{
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.nav-links li a:hover{
    color: rgb(255, 0, 0);
    /* text-decoration: underline; */
}

.nav-links li a:active{
    color: lightpink;
}

/* header styling starts here */

header{
    padding-top: 200px;
}

.profile-picture{
    height: 100&;
    width: 90%;
    /* border: 1px white */
}

.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.header.right{
    text-align: center;
    margin: auto;
}

